/.firebase

# Mobile App
apps/mobile/node_modules
apps/mobile/.pnp
apps/mobile/pnp.js
apps/mobile/coverage
apps/mobile/build
apps/mobile/.DS_Store
apps/mobile/.env.local
apps/mobile/.env.development.local
apps/mobile/.env.test.local
apps/mobile/.env.production.local
apps/mobile/npm-debug.log*
apps/mobile/yarn-debug.log*
apps/mobile/yarn-error.log*

# Web App
/apps/web/node_modules
/apps/web/.pnp
/apps/web.pnp.js
/apps/web/coverage
/apps/web/build
/apps/web/.DS_Store
/apps/web/.env.local
/apps/web/.env.development.local
/apps/web/.env.test.local
/apps/web/.env.production.local
/apps/web/npm-debug.log*
/apps/web/yarn-debug.log*
/apps/web/yarn-error.log*

# Functions
/functions/**/*.js
/functions/**/*.js.map
/functions/typings/
/functions/node_modules/