/.firebase

# Mobile App
apps/mobile/node_modules
apps/mobile/.pnp
apps/mobile/pnp.js
apps/mobile/coverage
apps/mobile/build
apps/mobile/.DS_Store
apps/mobile/.env.local
apps/mobile/.env.development.local
apps/mobile/.env.test.local
apps/mobile/.env.production.local
apps/mobile/npm-debug.log*
apps/mobile/yarn-debug.log*
apps/mobile/yarn-error.log*

# Website
apps/website/node_modules
apps/website/build

# Functions
/functions/**/*.js
/functions/**/*.js.map
/functions/typings/
/functions/node_modules/
/functions/lib