/.firebase

# Mobile App
apps/app-mobile/node_modules
apps/app-mobile/.pnp
apps/app-mobile/pnp.js
apps/app-mobile/coverage
apps/app-mobile/build
apps/app-mobile/.DS_Store
apps/app-mobile/.env.local
apps/app-mobile/.env.development.local
apps/app-mobile/.env.test.local
apps/app-mobile/.env.production.local
apps/app-mobile/npm-debug.log*
apps/app-mobile/yarn-debug.log*
apps/app-mobile/yarn-error.log*

# Web App
/apps/app-web/node_modules
/apps/app-web/.pnp
/apps/app-web.pnp.js
/apps/app-web/coverage
/apps/app-web/build
/apps/app-web/.DS_Store
/apps/app-web/.env.local
/apps/app-web/.env.development.local
/apps/app-web/.env.test.local
/apps/app-web/.env.production.local
/apps/app-web/npm-debug.log*
/apps/app-web/yarn-debug.log*
/apps/app-web/yarn-error.log*

# Functions
/functions/**/*.js
/functions/**/*.js.map
/functions/typings/
/functions/node_modules/